In [1]:
import pandas as pd
import re

### Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(my_string):
    # assign regex that returns any characters that match a, e, i, o, or u
    regexp = r'[aeiou]'
    
    return len(re.findall(regexp, my_string)) > 0

In [3]:
is_vowel('rain'), is_vowel('ccc')

(True, False)

### Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [4]:
def is_valid_username(username):
    
    regexp = r'^[a-z]+[a-z0-9_]{1,31}$'

    return len(re.findall(regexp, username)) > 0

In [5]:
is_valid_username('My_username123'), is_valid_username('is_this_one?'), is_valid_username('write_a_very_long_username_that_goes_on_and_on')

(False, False, False)

In [6]:
is_valid_username('how_about_this')

True

### Write a regular expression to capture phone numbers. It should match all of the following:
- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [7]:
num = '(210) 867 5309'
regex = r'.*\d{,3}.*\d{3}.*\d{4}'
re.match(regex, num)

In [8]:
num = '+1 210.867.5309'
regex = r'.*\d{,3}.*\d{3}.*\d{4}'
re.match(regex, num)

In [9]:
num = '867-5309'
regex = r'.*\d{,3}.*\d{3}.*\d{4}'
re.match(regex, num)

In [10]:
num = '210-867-5309'
regex = r'.*\d{,3}.*\d{3}.*\d{4}'
re.match(regex, num)

### Use regular expressions to convert the dates below to the standardized year-month-day format.
- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [12]:
dates = pd.Series(['02/04/19', '02/05/19', '02/06/19', '02/07/19', '02/08/19', '02/09/19', '02/10/19'])

In [13]:
dates.str.replace(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2')

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

### Write a regex to extract the various parts of these logfile lines:


GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58

GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [14]:
#Create the dataframe with the logfile lines 
df = pd.DataFrame()
df['log'] = pd.Series(['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58', 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
      'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'])

In [15]:
df

                                                 log
0  GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1  POST /users_accounts/file-upload [16/Apr/2019:...
2  GET /api/v1/items?page=3 [16/Apr/2019:193453+0...

In [16]:
#What are the different parts of the logfile
#Set the parts to column names for reference and future use
colnames=['request_method', 'path', 'timestamp', 'http_version', 'status', 'size', 'request_agent', 'ip']

In [17]:
#Use regex to extract the parts 
df = df.log.str.extract(r'(GET|POST)\s([/\w\-\?=]+)\s(\[.+])\s(HTTP/\d+\.\d+)\s\{(\d+)\}\s(\d+)\s"(.+)"\s(\d+\.\d+\.\d+\.\d+)$')

In [18]:
df

,0,1,2,3,4,5,6,7
0,GET,/api/v1/sales?page=86,[16/Apr/2019:193452+0000],HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,[16/Apr/2019:193452+0000],HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,[16/Apr/2019:193453+0000],HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

In [19]:
#Set the columns to the colnames
df.columns= colnames
df

,request_method,path,timestamp,http_version,status,size,request_agent,ip
0,GET,/api/v1/sales?page=86,[16/Apr/2019:193452+0000],HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,[16/Apr/2019:193452+0000],HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,[16/Apr/2019:193453+0000],HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58